<?xml version="1.0" encoding="UTF-8"?>
<web-app 
    xmlns="http://xmlns.jcp.org/xml/ns/javaee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
    version="3.1">
	<display-name>How does people feel</display-name>
	<servlet>
		<servlet-name>feelingsSeach</servlet-name>
		<servlet-class>br.ime.usp.feelings.view.servlet.FeelingServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>rankSeach</servlet-name>
		<servlet-class>br.ime.usp.feelings.view.servlet.RankServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>feelingsSeach</servlet-name>
		<url-pattern>/feelingsSeach</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>rankSeach</servlet-name>
		<url-pattern>/rankSeach</url-pattern>
	</servlet-mapping>
</web-app>
